@charset "UTF-8";
/* CSS Document */


.content {
	background: url("/_img/bedroom-window.jpg") no-repeat center top transparent;
	background-size: cover;
	background-position: left;
	height: 2400px;
	padding: 40px 0 0 50px;
}

	h1 {
		a {
			font: 110px "bebas_neueregular", arial, helvetica;
			text-transform: uppercase;
			color: #f722d6;
			text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
			&:hover {
				text-shadow: 4px 3px 0px #F722D6, 9px 8px 0px rgba(0,0,0,0.15);				
			}
		}
	}
	h2 {
		font: 113px/78px "ostrich_sanscondensed_light", arial, helvetica;
		color: #fff;
		text-shadow: 0px 0px 6px rgba(255,255,255,2);
	}
	a {
		font: 60px "ostrich_sansmedium", arial, helvetica;
		color: #f722d6;
		line-height: 110px;
		&.bebas {
			font: 50px/90px "bebas_neueregular", arial, helvetica;
		}
	}
	a:hover {
		color: #fff;
		text-decoration: none;
		.transition;
	}

h3 {
	font: 80px/60px "bebas_neueregular", arial, helvetica;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 4px 3px 0px rgba(0,0,0,0.15);
	margin-bottom: 20px;
}

#portfolio {
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	padding: 20px;
}

.content #filters {
	border-bottom: 3px solid #f722d6;
	li a {
		font: 30px "bebas_neueregular", arial, helvetica;
		display: block;
		width: auto;
		margin-right: 2%;
		float: left;
		opacity: .5;
		&.selected {
			opacity: 1;
		}
		&:hover {
			opacity: 1;
			color: #f722d6;
		}
	}
}

#container {
	margin-top: 20px;
	a.element {
		margin-right: 10px;
		img {
			opacity: .7;
			background-color: #f722d6;
			&:hover {
				opacity: 1;
			}
		}
	}
}

span.bebas {
	font: 50px "bebas_neueregular", arial, helvetica;
	color: #F722D6;	
	padding: 0 10px;
}